<div class="alert alert-info">
  <button class="close" data-dismiss="alert">x</button>
  Forms with (*) are required parameters
</div>
<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>*
  </div>
  <div class="field">
    <%= f.label :marital_status %><br />
    <%= f.select :marrital_status, "<option>Single</option><option>Married</option>".html_safe, prompt: "Please select" %>
  </div>
  <div class="field">
    <%= f.label :qualified_dependents %><br />
    <%= f.select :qualified_dependents, "<option>0</option>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>".html_safe, prompt: "Please select" %>
  </div>
  <div class="field">
    <%= f.label :designation %><br />
    <%= f.text_field :designation %>
  </div>
  <div class="field">
    <%= f.label :username %><br />
    <%=f.text_field :username %> <small>*Will be used for logging in*</small>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>*
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>*
  </div>
  <div class="field">
    <%= f.label :salary_per_day %><br />
    <%= f.text_field :salary_per_day %>*
  </div>
  <div class="field">
    <%= f.label :starting_time %><br />
    <%= f.time_select :starting_time %>
  </div>
  <div class="field">
    <%= f.label :dismissal_time %><br />
    <%= f.time_select :dismissal_time %>
  </div>
  <div class="field">
    <%= f.label :classification %>*<br />
    <ul>
      <li><%= f.radio_button :classification, "Employer" %>Employer</li>
    <li><%= f.radio_button :classification, "Administrator" %>Administrator</li>
    <li><%= f.radio_button :classification, "Employee" %>Employee</li>
    </ul>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-inverse" %>
  </div>
<% end %>