<h1>Listing employees</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Designation</th>
    <% if signed_in? && employer? %>
    <th>Salary per day</th>
    <% end %>
    <th>Classification</th>
    <th>Overtime Authorization</th>
    <% if employer? %>
    <th>Authorize to manage OT and Holidays</th>
    <% end %>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td><%= link_to employee.name, employee %></td>
    <td><%= employee.designation %></td>
    <% if signed_in? && employer? %>
    <td><%= sprintf("P%0.02f", employee.salary_per_day) %></td>
    <% end %>
    <td><%= employee.classification %></td>
    <td><%= employee.authorized_overtime %></td>
    <% if employer? %>
    <% if employee.authorizetoggling? %>
    <td><%= link_to "Do not allow", authorizetoggling_employee_url(employee), data: { confirm: "Prevent this admin employee to manage overtime authorizations and holidays?" }, method: :put, class: "btn btn-mini btn-inverse" %></td>
    <% else %>
    <% if employee.classification != "Administrator" %>
    <td>Not admin account</td>
    <% else %>
    <td><%= link_to "Allow", authorizetoggling_employee_url(employee), method: :put, data: { confirm: "Allow this admin employee to manage Overtime authorizations and holidays?" }, class: "btn btn-mini btn-inverse" if employee.classification == "Administrator" %></td>
    <% end %>
    <% end %>
    <% end %>
    <% if signed_in? %>
    <% if employer? || authorizedadministrator? %>
    <% if employee.authorized_overtime? %>
    <td><%= link_to "Unauthorize OT", authorizeovertime_employee_url(employee), method: :put, class: "btn btn-mini btn-inverse" %></td>
    <% else %>
    <td><%= link_to "Authorize OT", authorizeovertime_employee_url(employee), method: :put, data: { confirm: "Authorize this employee to work overtime / undertime? Continuing this action will allow this employee to time out anytime regardless the employee's original dismissal time." }, class: "btn btn-mini btn-inverse" %></td>
    <% end %>
    <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-danger" %></td>
    <% end %>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employee', new_employee_path, class: "btn btn-inverse" %>
