<p id="notice"><%= notice %></p>
<div class="row">
  <div class="span6">
<p>
  <b>Name:</b>
  <%= @employee.name %>
</p>

<p>
  <b>Designation:</b>
  <%= @employee.designation %>
</p>
<% if signed_in? %>
<% if employer? || correct_employee %>

<p>
  <b>Salary per day:</b>
  <%= sprintf("P%0.02f", @employee.salary_per_day) %>
</p>

<p>
  <b>Salary per hour:</b>
  <%= sprintf("P%0.02f", @employee.salary_per_hour) unless @employee.salary_per_hour.nil? %>
</p>

<% end %>
<% end %>

<p>
  <b>Starting time:</b>
  <%= @employee.starting_time.strftime("%H:%M") %>
</p>

<p>
  <b>Dismissal time:</b>
  <%= @employee.dismissal_time.strftime("%H:%M") %>
</p>

<p>
  <b>Regular working hours:</b>
  <%= @employee.working_hours %>
</p>

<p>
  <b>Classification:</b>
  <%= @employee.classification %>
</p>
<% if signed_in? %>
<% if employer? || administrator? %>
<%= link_to 'Edit', edit_employee_path(@employee) %> |
<% end %>
<% end %>
<%= link_to 'Back', employees_path %>
</div>

<div class="span3 offset1 hero-unit" align="center">
  <% if correct_employee %>
<% if current_employee.attendances.last.nil? %>
<%= render 'attendances/timeinform' %>
<% else %>
<% if current_employee.attendances.last.date != Date.today %>
<%= render 'attendances/timeinform' %>
<% else %>
<% if current_employee.attendances.last.time_out.nil? %>
<% if current_employee.starting_time < current_employee.attendances.last.time_in %>
<font color="red">You have successfully timed in. You are <%= sprintf("%0.02f", ((current_employee.attendances.last.time_in - current_employee.starting_time) / 1.hour)) %> hours late for today!</font>
<% else %>
<font color="green">You are currently timed in!</font>
<% end %>
<% else %>
<font color="green">You have successfully timed out! Come back again another day for your next shift...</font>
<% end %>
<% end %>
<% end %>
<% end %>
</div>
</div>

<table class="table">
   <tr>
     <th>Date</th>
     <th>Time in</th>
     <th>Time out</th>
     <th>Total hours rendered</th>
     <% if signed_in? %>
     <% if employer? || correct_employee %>
     <th>Total salary earned</th>
     <% end %>
     <% end %>
     <th></th>
   </tr>
<% @employee.attendances.each do |attendance| %>
    <tr>
      <td><%= attendance.date %></td>
      <td><%= attendance.time_in.strftime('%H:%M:%S') %></td>
      <% if !attendance.time_out.nil? %>
      <td><%= attendance.time_out.strftime('%H:%M:%S') %></td>
      <% else %>
      <td></td>
      <% end %>
      <% if !attendance.total_hours_rendered.nil? %>
      <td><%= pluralize(sprintf("%0.02f", attendance.total_hours_rendered), "hour") %></td>
      <% end %>
      <% if employer? || correct_employee %>
      <td><%= sprintf("P%0.02f", attendance.total_salary_earned) unless attendance.total_salary_earned.nil? %></td>
      <% else %>
      <% end %>
      <td><%= link_to "Time out", edit_attendance_path(attendance), class: "btn btn-mini btn-inverse" unless !attendance.time_out.nil? %></td>
    </tr>

<% end %>
</table>