<div class="row">
	<div class="span8">
		<div class="hero-unit" align="center">
			<h1>Payroll System</h1>
			<br />
			Bayaran nyo ako ng P1700! P700 kay patrick tska painum kayo
			<br /><br />
			<div class="row">
			<div class="span4">
				<a href="#">Help</a>
			</div>
			<div class="4">
				<a href="#">About</a>
			</div>
		</div>
		</div>
	</div>
	<div class="span4" align="center">
		<div style="background-color:#eaeaea;">
			<% if signed_in? %>
			<br /><br />
				<p><strong>Name: </strong><%= current_employee.name %></p>
				<p><strong>Account type: </strong><%= current_employee.classification %></p>
				<p><strong>Starting time: </strong><%= current_employee.starting_time.strftime('%H:%M') %></p>
				<p><strong>Dismissal time: </strong><%= current_employee.dismissal_time.strftime('%H:%M') %></p>
				<%= link_to "Logout", signout_path, class: "btn btn-inverse" %>
				<br /><br />
			<% else %>
				<%= render 'sessions/signin' %>
			<% end %>
		<br />
	</div>
	</div>
</div>