<div class="row">
	<div class="span8">
		<div class="hero-unit" align="center">
			<h1>Payroll System</h1>
			<br /><br />
			<div class="row">
			<div class="span4">
				<%= link_to image_tag("Windows-8-help.png", size: "65x65"), home_help_path %>
				<br />
				<h4><font color="#999">Help</font></h4>
			</div>
			<div class="4">
				<%= link_to image_tag("About.png", size: "65x65"), home_about_path %></h4>
				<br />
				<h4><font color="#999">About</font></h4>
			</div>
		</div>
		</div>
	</div>
	<div class="span4" align="center">
		<div style="background-color:#eaeaea;">
			<% if signed_in? %>
			<br /><br />
				<p><strong>Name: </strong><%= current_employee.name %></p>
				<p><strong>Account type: </strong><%= current_employee.classification %></p>
				<p><strong>Starting time: </strong><%= current_employee.starting_time.strftime('%H:%M') %></p>
				<p><strong>Dismissal time: </strong><%= current_employee.dismissal_time.strftime('%H:%M') %></p>
				<%= link_to "Logout", signout_path, class: "btn btn-inverse" %>
				<br /><br />
			<% else %>
				<%= render 'sessions/signin' %>
			<% end %>
		<br />
	</div>
	</div>
</div>