<h1>Listing cutofftotalsalaries</h1>

<table>
  <tr>
    <th>Cutoff</th>
    <th>Employee name</th>
    <th>Salary for cutoff</th>
    <th>Sss</th>
    <th>Philhealth</th>
    <th>Withholding Tax</th>
    <th>Semi-Withholding Tax</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cutofftotalsalaries.each do |cutofftotalsalary| %>
  <tr>
    <td><%= cutofftotalsalary.cutoff_id %></td>
    <td><%= cutofftotalsalary.employee_name %></td>
    <td><%= cutofftotalsalary.salary_for_cutoff %></td>
    <td><%= cutofftotalsalary.sss %></td>
    <td><%= cutofftotalsalary.philhealth %></td>
    <td><%= cutofftotalsalary.withholding_tax %></td>
    <td><%= cutofftotalsalary.withholding_tax / 2 %></td>
    <td><%= link_to 'Show', cutofftotalsalary %></td>
    <td><%= link_to 'Edit', edit_cutofftotalsalary_path(cutofftotalsalary) %></td>
    <td><%= link_to 'Destroy', cutofftotalsalary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cutofftotalsalary', new_cutofftotalsalary_path %>
