<%= form_for(@attendance) do |f| %>
  <% if @attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
      <% @attendance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_id %><br />
    <%= f.text_field :employee_id %>
  </div>
  <div class="field">
    <%= f.label :time_in %><br />
    <%= f.time_select :time_in %>
  </div>
  <div class="field">
    <%= f.label :time_out %><br />
    <%= f.time_select :time_out %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :total_hours_rendered %><br />
    <%= f.time_select :total_hours_rendered %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
