<%= form_for(@attendance) do |f| %>
  <% if @attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
      <% @attendance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<strong>Time in Parameters: </strong>
  <div class="field">
    This will be included in the cutoff from <%= Cutoff.first.cutoff_date %>
    <%= f.hidden_field :cutoff_id, value: Cutoff.first.id %>
  </div>
  <div class="field">
    <%= f.hidden_field :employee_id, value: current_employee.id %>
  </div>
  <div class="field">
    <% if current_employee.starting_time.strftime('%H:%M') <= Time.now.strftime('%H:%M') %>
    <font color="red">You are late for today. Please Time in now and get to work</font>
    <%= f.label :time_in %>: <%= Time.now.strftime('%H:%M:%S') %><br />
    <%= f.hidden_field :time_in, value: Time.now %>
    <% else %>
    <%= f.label :time_in %>: <%= current_employee.starting_time.strftime('%H:%M:%S') %><br />
    <%= f.hidden_field :time_in, value: current_employee.starting_time %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :date %>: <%= Date.today %><br />
    <%= f.hidden_field :date, value: Date.today %>
  </div>
  <div class="actions">
    <%= f.submit "Click here to start your shift", class: "btn btn-inverse" %>
  </div>
<% end %>
