<%= form_for(@attendance) do |f| %>
  <% if @attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
      <% @attendance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% if current_employee.authorized_overtime? %>
    <div class="alert alert-info">
    <button class="close" data-dismiss="alert">x</button>
    You are given authorization to work overtime / undertime. You may time out now if you wish.
  </div>
    <p>You will be timed out by <%= Time.now.strftime('%H:%M:%S') %>. Click "Time out" button to continue</p>
    <%= f.hidden_field :time_out, value: Time.now %> 
    <% else %>
    <% if Time.now.strftime('%H:%M') >= current_employee.dismissal_time.strftime('%H:%M') %>
    <p>You will be timed out by <%= current_employee.dismissal_time.strftime('%H:%M:%S') %>. Click "Time out" button to continue</p>
    <%= f.hidden_field :time_out, value: current_employee.dismissal_time %>
    <% else %>
    <div class="alert alert-danger">You are not yet allowed to time out and leave the office. Wait until <%= current_employee.dismissal_time.strftime('%H:%M') %> or ask your employer or administrator to authorize your undertime</div>
    <% end %>
    <% end %>
  </div>
  <% if Time.now.strftime('%H:%M') >= current_employee.dismissal_time.strftime('%H:%M') || current_employee.authorized_overtime? %>

  <div class="actions">
    <%= f.submit "Timeout", class: "btn btn-inverse" %>
  </div>
  <% end %>
<% end %>