<h1>Attendance Sheet</h1>
<% if employer? || authorizedadministrator? %>
<% if Attendance.last.holiday? %>
    <%= link_to "Set as Regular Working Day", holidaypay_attendance_url(Attendance.all.each), method: :put, class: "btn btn-mini btn-inverse" %><br />
    <% else %>
<%= link_to "Set as Working Holiday", holidaypay_attendance_url(Attendance.all.each), method: :put, data: { confirm: "Setting this day as a working holiday will double the total amount of salary earned by all employees working today. This can be undone. Do you wish to continue?" }, class: "btn btn-mini btn-primary" %><br />
<% end %>
<% end %>

<table class="table">
  <tr>
    <th>Date</th>
    <th>Employee</th>
    <th>Time in</th>
    <th>Time out</th>
    <th>Total hours rendered</th>
    <% if employer? %>
    <th>Total salary earned</th>
    <% end %>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attendances.each do |attendance| %>
  <tr>
    <td><%= attendance.date %></td>
    <td><%= attendance.employee.name %></td>
    <% if attendance.time_in.nil? %>
    <td></td>
    <% else %>
    <% if attendance.time_in > attendance.employee.starting_time %>
    <td style="color: red;"><%= attendance.time_in.strftime('%H:%M:%S') %></td>
    <% else %>
    <td><%= attendance.time_in.strftime('%H:%M:%S') %></td>
    <% end %>
    <% end %>
    <% if !attendance.time_out.nil? %>
    <td><%= attendance.time_out.strftime('%H:%M:%S') %></td>
    <% else %>
    <td></td>
    <% end %>
    <% if !attendance.total_hours_rendered.nil? %>
    <td><%= sprintf("%0.02f", attendance.total_hours_rendered) %></td>
    <% else %>
    <td></td>
    <% end %>
    <% if employer? || correct_employee %>
    <td><%= sprintf("P%0.02f", attendance.total_salary_earned) unless attendance.total_salary_earned.nil? %></td>
    <% end %>
    <td><%= link_to 'Show', attendance %></td>
    <td><%= link_to 'Edit', edit_attendance_path(attendance) %></td>
    <td><%= link_to 'Destroy', attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attendance', new_attendance_path %>
