<p id="notice"><%= notice %></p>

<p>
  <b>Employee:</b>
  <%= current_employee.name %>
</p>

<p>
  <b>Time in:</b>
  <%= @attendance.time_in.strftime('%H:%M:%S') %>
</p>

<p>
  <b>Time out:</b>
  <%= @attendance.time_out.strftime('%H:%M:%S') %>
</p>

<p>
  <b>Date:</b>
  <%= @attendance.date %>
</p>

<p>
  <b>Total hours rendered:</b>
  <%= @attendance.total_hours_rendered %>
</p>


<%= link_to 'Back', current_employee %>
