<p id="notice"><%= notice %></p>

<p>
  <b>Cutoff date:</b>
  <%= @cutoff.cutoff_date %>
</p>

<%= link_to 'Edit', edit_cutoff_path(@cutoff) %> |
<%= link_to 'Back', cutoffs_path %>
<br /><br />

<ul class="nav nav-tabs" id="Tabs">
	<li class="active"><a href="#attendance" data-toggle="tab">Attendance</a></li>
	<li><a href="#salaries" data-toggle="tab">Total salary of employees</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="attendance">
<table class="table">
  <tr>
    <th>Date</th>
    <th>Employee</th>
    <th>Time in</th>
    <th>Time out</th>
    <th>Total hours rendered</th>
    <% if employer? %>
    <th>Total salary earned</th>
    <% end %>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @cutoff.attendances.reverse.each do |attendance| %>
	  <tr>
	    <td><%= attendance.date %></td>
	    <td><%= attendance.employee.name %></td>
	    <% if attendance.time_in.nil? %>
	    <td></td>
	    <% else %>
	    <% if attendance.time_in > attendance.employee.starting_time %>
	    <td style="color: red;"><%= attendance.time_in.strftime('%H:%M:%S') %></td>
	    <% else %>
	    <td><%= attendance.time_in.strftime('%H:%M:%S') %></td>
	    <% end %>
	    <% end %>
	    <% if !attendance.time_out.nil? %>
	    <td><%= attendance.time_out.strftime('%H:%M:%S') %></td>
	    <% else %>
	    <td></td>
	    <% end %>
	    <% if !attendance.total_hours_rendered.nil? %>
	    <td><%= sprintf("%0.02f", attendance.total_hours_rendered) %></td>
	    <% else %>
	    <td></td>
	    <% end %>
	    <% if employer? || correct_employee %>
	    <td><%= sprintf("P%0.02f", attendance.total_salary_earned) unless attendance.total_salary_earned.nil? %></td>
	    <% end %>
	    <td><%= link_to 'Show', attendance %></td>
	    <td><%= link_to 'Edit', edit_attendance_path(attendance) %></td>
	    <td><%= link_to 'Destroy', attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
<% end %>
</table>
</div>
<div class="tab-pane" id="salaries">
	<table class="table">
    <tr>
        <th>Employee name</th>
        <th>Total salary</th>
    </tr>
    <% @cutoff.attendances.each do |attendance| %>
        <tr>
            <td><%= attendance.employee.name %></td>
            <td><%= sprintf("P%0.02f", attendance.employee.cutoff_salary) %></td>
        </tr>
    <% end %>
</table>
</div>
</div>

