<!DOCTYPE html>
<html>
<head>
  <title>Payroll</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav pull-left">
					<li><a href="#" id="logo">Payroll System</a></li>
				</ul>
				<ul class="nav nav-pills pull-right">
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "Employees", employees_path %></li>
					<% if signed_in? %>
					<% if employer? || administrator? %>
					<li><%= link_to "Cutoff", cutoffs_path %></li>
					<% end %>
					<li><%= link_to "Attendance", attendances_path %></li>
						<li><%= link_to "Logout", signout_path %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<br /><br /><br />
	<div class="container">
	<% flash.each do |key, value| %>
		<div>
			<button class="close" data-dismiss="alert">x</button>
			<%= content_tag(:div, value, class: "alert alert-#{key}") %>
		</div>
	<% end %>

	<% if signed_in? %>
		<small>Logged in as: <%= link_to current_employee.name, current_employee %> | <%= current_employee.classification %> | <%= Time.now.strftime('%H:%M:%S') %></small>
	<% end %>

	<%= yield %>
</div>
</body>
</html>
